/* Style for images container to display images side by side */
.gray-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.box {
  flex: 1 1 calc(20% - 20px); /* 5 images per row, with gaps */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box img {
  max-width: 100%;
  height: auto;
  display: block;
}